<h1>{{ title }}</h1>

<div class="search-location">
  <input class="form-control" type="text" name="search" [(ngModel)]="filterText" autocomplete="off" placeholder=" Start searching for a Location by Movie Name or Location name">
</div>


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
 <agm-marker [latitude]="lat" [longitude]="lng">
</agm-marker>

  <agm-marker **ngFor="let loc of movieLocationsList" 
      [latitude]="loc.geoLocation.lat"
      [longitude]="loc.geoLocation.lng"
      [label]="loc.title">
  </agm-marker>
  
</agm-map>